
@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family:'Sulphur Point', sans-serif;
  background-image: url('./sw-bg.jpg');
  background-size: cover;
}
